<h2>Lewis Matos</h2>
<p><img src="https://4gf0eg.by3302.livefilestore.com/y2pim4RBDJ5b3Ne4FPy0FMMaAC35w9XtJkFqtgtt2sHwNB-rM5YeReVmnElgjvrrIB5UPYZy55nohI7kyDiIL6o8ox2yqnNLIajbEUN-4g94TdrNv6TiULlglSFfFuXw7AVdiGyrsllMUNYdoTMYBn3qQ/221703264515556.jpg?psid=1" alt="Lewis Jones" title="Follow me on Twitter @"  class="img-rounded floatLeft" />			
I am a computer science student looking for an internship in web or mobile development.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Lewiz23&repo=Lewiz23.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Lewiz23&repo=Lewiz23.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/matoslewis" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @Lewiz23</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/Lewiz23" rel="me" class="social github" title="Go to github.com/Lewiz23" target="_blank"></a></li>
	  <li><a href="https://www.linkedin.com/pub/lewis-matos/35/b6/454" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/matoslewis" rel="me" class="social twitter" title="Go to twitter.com/Lewiz23" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/" rel="me" class="social rss" title="Go to feedburner Lewiz23 rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/+LewisMatos/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/Lewiz23/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Lewis"  target="_blank"></a></li>				
	</ul>
</p>