<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://Lewiz23.github.com">My First Blog</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://Lewiz23.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/MatosLewis" rel="tooltip" title="Go to twitter.com/matoslewis" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/Lewiz23" rel="tooltip" title="Go to github.com/Lewiz23" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.delicious.com/lewismatos" rel="tooltip" title="Go to delicious.com/Lewiz23" target="_blank">Delicious</a></li>
					<li class=""><a href="https://www.linkedin.com/pub/lewis-matos/35/b6/454" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>										
					<li class=""><a href="http://coderwall.com/matoslewis" rel="tooltip" title="Go to coderwall/Lewiz23" target="_blank">Coderwall</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/Lewiz23" rel="tooltip" title="Go my projects on GitHub" target="_blank">Projects</a></li>	
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>